/HamburguesaException.class
/IngredienteRepetidoException.class
/NoHayPedidoEnCursoException.class
/ProductoFaltanteException.class
/ProductoRepetidoException.class
/YaHayUnPedidoEnCursoException.class
